/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 2.9rem; 
  font-weight: 1000;
  line-height: 1;
  color: var(--main-white);
}

h1,
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  text-align: center;
}

h1 {
  font-size: 10rem;
  color: #bf0a30;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black,0 -1px black;
  position: relative;
  top: 5.2rem;
  line-height: 1.7;
  
}
h1:hover{
  color:#002868;
}
h2{
  font-size: 2rem;
  text-align: center;
  color: red;
  line-height: 1.7;
}
h2:hover{
  color:white;
  background: black;
}

h3:hover {
  font-size: 4.2rem;
color: indianred;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: lime;
}
a:hover {
   color: cyan;
}

img {
  display: block;
  width: 100%;
}
.pati{
  line-height: 2.7;
}
/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: darkred;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;

}

.nav-list {
  display: flex;
  margin-right: 38rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: darksalmon;
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 100%;
  height: 100%;
  background-color: yellow;
  background-image: url("geek.jpeg");
  position: relative;
}

.welcome-section p {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: forestgreen;
  text-shadow: 2px 2px ;
}
.welcome-section p:hover{
  color:lawngreen;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: darkkhaki;
}

.projects-section-header {
  font-size: 31px;
  color: darkgreen;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.4rem solid var(--main-blue);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}




.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 1s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image:hover{
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: fill;
  border-radius: 40px;
  border-style: solid;
  border-width: 6px;
  border-left-color: #bf0a30;
  border-right-color: #002868;
  border-bottom-color: #000000;
  border-top-color: #f1f1f1;
}


.project-title {
  font-size: 20px;
}



/* Contact section */

.contact-section{
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: navy;
  position: relative;
  line-height: 1.7;
}

.contact-section-header > h2 {
  font-size: 6rem;
   position: relative;
}
}

.contact-section-header > p {
  font-style: italic;
   position: relative;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
   position: relative;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  color:goldenrod;
   position: relative;
}





.contact-details:hover {
  transform: translateY(10px);
  color:green;
   position: relative;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: darkslategray;
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}